.block-label {
  display: block;
  float: none;
  clear: left;
  position: relative;
  border: 1px solid transparent;
  padding: 15px 30px 15px 54px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 400;
  margin-top:0;
}
@media (min-width: 641px) {
  .block-label {
    float: left;
  }
}


/* Checkboxes */
input[type='checkbox'] {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    width:18px;
    height:18px;
    background:white;
    border:1px solid black;
}
input[type='checkbox']:checked {
    content:url(https://d30y9cdsu7xlg0.cloudfront.net/png/134088-200.png);
}
.block-label input {
  position: absolute;
  top: 21px;
  left: 15px;
  cursor: pointer;
  margin: 0;
  width: 14px;
  height: 14px;
}
.block-label-inline {
  clear: none;
  margin-right: 15px;
}


.subtext {
  font-size: 0.9rem;
}

/* Radio buttons */
.form-radio {
  display: block;
  margin: 10px 0;
}

.form-radio input {
  vertical-align: middle;
  margin: -4px 5px 0 0;
}



.block-label [type="radio"] + span {
  position: absolute;
  left: 17px;
  top: 14px;
  background: #fff;
  display: inline-block;
  border: 2px solid #0b0c0c;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-top: 0;
}

@media (min-width: 641px) {
  .block-label [type="radio"] + span {
    width: 18px;
    height: 18px;
    left: 12px;
    top: 19px;
  }
}

@media (max-width: 641px) {
  .block-label [type="radio"] + span {
    width: 18px;
    height: 18px;
    left: 12px;
    top: 19px;
  }
}

.block-label [type="radio"] + span .inner {
  display: inherit;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 3px solid #fff;
  width: 16px;
  height: 16px;
  margin-bottom: 5px;
}
.block-label p {
  margin-top:0;
}

@media (min-width: 641px) {
  .block-label [type="radio"] + span .inner {
    width: 14px;
    height: 14px;
  }
}

@media (max-width: 641px) {
  .block-label [type="radio"] + span .inner {
    width: 14px;
    height: 14px;
  }
}

.block-label.selected [type="radio"] + span,
.block-label [type="radio"]:checked + span {
  background: #0b0c0c;
}

.js-enabled .block-label.focused [type="radio"]:focus + span .inner{
  border-color: #fff;
}
