.btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-width: 3px;
  padding: 10px 10px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #000000;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
.btn a:visited {
  color: #fff !important;
}


// Primary buttons


.btn-primary {
  color: #ffffff;
  background-color: #0070c9;
  border-color: #0062b0;
	width:auto;
	min-width:150px;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #005496;
  border-color: #001b30;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #005496;
  border-color: #004072;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #005496;
  border-color: #004072;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #ffffff;
  background-color: #004072;
  border-color: #001b30;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #0070c9;
  border-color: #0062b0;
}
.btn-primary .badge {
  color: #0070c9;
  background-color: #ffffff;
}

.btn-primary a {
  color: #ffffff;
  text-decoration: none;
  font-size:1.2rem;
}

.btn.btn-primary.greenbtn {
	border-color: #006747;
	background-color: #009639;
  margin-top: 32px;
}
.btn.btn-primary.greenbtn:hover {
	color:white;
	border-color: #000;
	background-color: #006747;
}
.btn.btn-primary.greenbtn:active {
	color:white;
	border-color: #000;
	background-color: #006747;
}
