/* minimal size reset */
.gsc, .gsc p, .gsc a, .gsc li, .gsc .three .article p { font-size: 13px; }
/* full width layout */
.gsc .col.three, .gsc .col.two { width: auto; margin: 0.5em 1em 0.5em 1em; }
.gsc .col.two { clear: both; }
/* normal headings */
.gsc .col.three h1 { color: #585858; font-size: 2.25em; font-weight: bolder; }
.gsc .col.three h2 { color: #585858; font-size: 1.55em; font-weight: bolder; }
/* section-divider */
hr.gpos-section-divider { background-color: #0064b7; border-width: 0; height: 8px; clear: both; margin: 0.5em 0 0.5em 0; }
/* notes */
.gpos-note p { margin: 0 0 1em 2em; }
/* Q&A */
.gpos-qa { padding-bottom: 1em; }
.gpos-qa p { margin-left: 2em; padding-bottom: 0; }
/* expandable content styles */
.gsc .col.three .slider h3 { background: #eaeaea; color: #333; margin: 0.3em 0; width: 100%; }
.gsc .col.three .slider h3 span { background: transparent; color: #333; /* font-size: 1em; */ }
.gsc .col.three .slider h3 a { background-color: transparent; color: #333; /* font-size: 0.9em; */ }
.gsc .col.three .slider-content-inner .crnr { background-image: url(/img/general/slider-crnr.gif); }
.gsc .col.three .slider-content-inner h3 { background: none; /* font-size: 1.4em; */ margin: 1em 0; }
.gsc .col.three .slider-content-inner h3 a { background: none; /* font-size: 1.1em; */ font-weight: bold; position: relative; right: auto; top: auto; padding: 0; text-align: left; width: auto; }
.gsc .col.three .slider-content-wrap { background-color: #333; border-top: 0; }
.gsc .col.three .concertina-wrap { clear:both; }
.gsc .col.three .concertina-wrap h2 { font-size: 1em; position: relative; background: #eaeaea; color: #333333; height: 1%; border-bottom: .5em solid #fff; margin-bottom: 0 !important; }
.gsc .col.three .concertina-wrap h2 a { padding: 0.4em 4.5em 0.4em 0.7em; position: relative; display: block; text-decoration: none; color: #333333; }
.gsc .col.three .concertina-wrap h2 a span { top: 0; right: 0; margin: 0; padding: 0.4em 2em .3em 6%; text-align: right; cursor: pointer;
font-weight: normal;	position: absolute; width: 90%; display: block; text-decoration: underline; font-size: 0.9em; }
.gsc .col.three .concertina-wrap .concertina-trig a { background-position: 99% 6px; background-repeat: no-repeat; background-image: url(/img/planner/slider-plus.gif); }
.gsc .col.three .concertina-wrap .concertina-trig a.active { background-image: url(/img/planner/slider-minus.gif); }
.gsc .col.three .concertina-wrap .concertina-trig a:hover span, .carers-subcategory .carers-article .concertina-wrap .concertina-trig a:active span, .carers-subcategory .carers-article .concertina-wrap .concertina-trig a:focus span { text-decoration: none; }
.gsc .col.three .concertina-wrap .slider-content-inner .crnr { background-image: url(/img/general/slider-crnr.gif); }
.gsc .col.three .concertina-wrap .slider-content-inner h3 { background: none; /* font-size: 1.4em; */ margin: 1em 0; }
.gsc .col.three .concertina-wrap .slider-content-inner h4 { /* font-size: 1.3em; */ margin: 1em 0 0 0; }
.gsc .col.three .concertina-wrap .slider-content-wrap { background-color: #333333; border-top: 0; }
.gsc .col.three .concertina-wrap .concertina-content { margin-bottom: .5em; }
.gsc .col.three .concertina-wrap .slider-content-wrap .crnr { display: none; }
.gsc .col.three .concertina-wrap .slider-content-wrap { background-color: #ffffff; padding: 0; border: 0; /* font-size: 1.2em; */ }
.gsc .col.three .concertina-wrap .slider-content-inner { padding: 0 0 0 1em; }
.gsc .col.three .concertina-wrap { margin-left: 1.5em; }
.gsc .col.three .concertina-wrap .concertina-content ol { margin-left: 1.5em; }
.gsc .col.three .concertina-wrap .concertina-content ol li { list-style-position: outside; padding-bottom: 0.25em; }
/* providers */
.gpos-service-provider-header { margin-top: 2em; }
/* provider features */
.gpos-service-provider { clear: both; width: 95.5%; border: solid 1px #585858; padding: 1.5em 1em 4em 2em; float: left; margin: 0.5em 0 1em 0; position: relative; }
.gpos-service-provider .gpos-provider-features ul { float: left; width: 49%; }
.gpos-service-provider .gpos-provider-features ul li { list-style-type: none; height: 2.0em; padding-left: 2.5em; padding-top: 0.3em; /* font-size: 1.6em; */ }
.gpos-service-provider .gpos-provider-features ul li.gpos-feature-available { background: url("../img/icon-tick.png") no-repeat; background-size: 2em; }
.gpos-service-provider .gpos-provider-features ul li.gpos-feature-not-available { background: url("../img/icon-cross.png") no-repeat; background-size: 2em; }
.gpos-service-provider .gpos-features-intro p { margin: 2em 0 1em 0; /* font-size: 1.4em; */ font-weight: bolder; }
.gpos-service-provider .gpos-provider-logo { max-width: 50em; max-height: 10em; overflow: hidden; }
.gpos-service-provider .gpos-provider-logo img { margin: 1em 0 0 1em; }
.gpos-service-provider .gpos-more-info { clear: both; padding-top: 2em; /* font-size: 1.4em; */ }
.gpos-service-provider .gpos-provider-select { position: absolute; top: 2.5em; right: 2em; }
.gpos-service-provider .gpos-provider-select a { display: inline-block; height: 1.5em; width: 17em; background-color: #009639; color: white; text-decoration: none; padding: 0.3em 0 0 0;
border: 1px solid #006747; border-radius: 6px; text-align: center; font-size: 1.2em; }
.gpos-service-provider .gpos-provider-select a:hover, .gpos-service-provider .gpos-provider-select a:active { text-decoration: underline; background-color: #006747; }

@media (max-width:640px) {
  .gsc .row.pad-tl { padding: 0.5em 0 0 0.5em; }
  .gsc .col.three, .gsc .col.two { width: 98% !important; margin: 0; }
  .gsc .col.three h1 { /* font-size: 3em; */ line-height: 1em; }
  hr.gpos-section-divider { width: auto; }  
  .gpos-service-provider { width: auto; float: none; margin-bottom: 0; padding-bottom: 2em; }
  .gpos-service-provider .gpos-provider-features ul { float: none; width: 100%; }  
  .gpos-service-provider .gpos-provider-features ul li { line-height: 1em; padding-top: 0.5em; }
  .gpos-service-provider .gpos-provider-select { position: relative; top: 0; right: 0; margin-top: 2em; }  
  .gpos-service-provider .gpos-provider-select a { width: 97%; }
  .gsc .col.three .concertina-wrap { margin-left: 0; }
  .gsc .col.three .concertina-wrap h2 a { /* font-size: 0.8em; */ }
  .gsc .col.three .concertina-wrap h2 a span { padding-right: 24px; /* font-size: 0.9em; */ padding-top: 0.7em; }
  .gpos-service-provider .gpos-provider-logo img { width: auto; margin-left: 0; max-width: 90% !important; }
  .gpos-qa h2 { margin-bottom: 0.2em; }
  .gpos-qa p { margin-left: 0; }
}
